/*NAVBAR*/
nav img{
    object-fit: cover;
    border-radius: 50%;
    width: 80px;
}
/*HOME-CONTENT*/
.home_content img{
    width: 80px;
    margin-left: 120px;
}
.home_content h1{
    color: #001534;
}
.home_content h2{
    color: #001534;
}